Repository ksv90/books: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --report-unused-disable-directives --max-warnings=0 --fix ., prettier --loglevel=error --write .

.lintstagedrc:

{
  "*.ts": ["eslint --report-unused-disable-directives --max-warnings=0 --fix .", "prettier --loglevel=error --write ."],
  "*.json": ["prettier --loglevel=error --write ."]
}

feat: docker build
  .dockerignore
  .env.example
  Dockerfile
  README.md
  docker-compose.yaml
  package.json
  src/main.ts
  src/types/env.d.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --fix ., prettier --loglevel=error --write .

fix: deploy settings
  docker-compose.yaml
  package.json
Due: prettier --loglevel=error --write .

fix: command changed
  .env.example
  Dockerfile
Due: none

fix: docker file changed
  Dockerfile
Due: none

fix: log
  Dockerfile
  src/main.ts
Due: eslint --report-unused-disable-directives --max-warnings=0 --fix ., prettier --loglevel=error --write .
